/* 

© Philiphoney https://github.com/philiphoney
  Version 2.0
  API https://github.com/philiphoney/API

  With this you can change the color and
  size of the Google Icons
  (material-symbols-outlined).

  1 = 1000  / md-1

*/

.material-symbols-outlined.md-1 { font-size: 1px; }
.material-symbols-outlined.md-2 { font-size: 2px; }
.material-symbols-outlined.md-3 { font-size: 3px; }
.material-symbols-outlined.md-4 { font-size: 4px; }
.material-symbols-outlined.md-5 { font-size: 5px; }
.material-symbols-outlined.md-6 { font-size: 6px; }
.material-symbols-outlined.md-7 { font-size: 7px; }
.material-symbols-outlined.md-8 { font-size: 8px; }
.material-symbols-outlined.md-9 { font-size: 9px; }
.material-symbols-outlined.md-10 { font-size: 10px; }
.material-symbols-outlined.md-11 { font-size: 11px; }
.material-symbols-outlined.md-12 { font-size: 12px; }
.material-symbols-outlined.md-13 { font-size: 13px; }
.material-symbols-outlined.md-14 { font-size: 14px; }
.material-symbols-outlined.md-15 { font-size: 15px; }
.material-symbols-outlined.md-16 { font-size: 16px; }
.material-symbols-outlined.md-17 { font-size: 17px; }
.material-symbols-outlined.md-18 { font-size: 18px; }
.material-symbols-outlined.md-19 { font-size: 19px; }
.material-symbols-outlined.md-20 { font-size: 20px; }
.material-symbols-outlined.md-21 { font-size: 21px; }
.material-symbols-outlined.md-22 { font-size: 22px; }
.material-symbols-outlined.md-23 { font-size: 23px; }
.material-symbols-outlined.md-24 { font-size: 24px; }
.material-symbols-outlined.md-25 { font-size: 25px; }
.material-symbols-outlined.md-26 { font-size: 26px; }
.material-symbols-outlined.md-27 { font-size: 27px; }
.material-symbols-outlined.md-28 { font-size: 28px; }
.material-symbols-outlined.md-29 { font-size: 29px; }
.material-symbols-outlined.md-30 { font-size: 30px; }
.material-symbols-outlined.md-31 { font-size: 31px; }
.material-symbols-outlined.md-32 { font-size: 32px; }
.material-symbols-outlined.md-33 { font-size: 33px; }
.material-symbols-outlined.md-34 { font-size: 34px; }
.material-symbols-outlined.md-35 { font-size: 35px; }
.material-symbols-outlined.md-36 { font-size: 36px; }
.material-symbols-outlined.md-37 { font-size: 37px; }
.material-symbols-outlined.md-38 { font-size: 38px; }
.material-symbols-outlined.md-39 { font-size: 39px; }
.material-symbols-outlined.md-40 { font-size: 40px; }
.material-symbols-outlined.md-41 { font-size: 41px; }
.material-symbols-outlined.md-42 { font-size: 42px; }
.material-symbols-outlined.md-43 { font-size: 43px; }
.material-symbols-outlined.md-44 { font-size: 44px; }
.material-symbols-outlined.md-45 { font-size: 45px; }
.material-symbols-outlined.md-46 { font-size: 46px; }
.material-symbols-outlined.md-47 { font-size: 47px; }
.material-symbols-outlined.md-48 { font-size: 48px; }
.material-symbols-outlined.md-49 { font-size: 49px; }
.material-symbols-outlined.md-40 { font-size: 40px; }
.material-symbols-outlined.md-51 { font-size: 51px; }
.material-symbols-outlined.md-52 { font-size: 52px; }
.material-symbols-outlined.md-53 { font-size: 53px; }
.material-symbols-outlined.md-54 { font-size: 54px; }
.material-symbols-outlined.md-55 { font-size: 55px; }
.material-symbols-outlined.md-56 { font-size: 56px; }
.material-symbols-outlined.md-57 { font-size: 57px; }
.material-symbols-outlined.md-58 { font-size: 58px; }
.material-symbols-outlined.md-59 { font-size: 59px; }
.material-symbols-outlined.md-50 { font-size: 50px; }
.material-symbols-outlined.md-61 { font-size: 61px; }
.material-symbols-outlined.md-62 { font-size: 62px; }
.material-symbols-outlined.md-63 { font-size: 63px; }
.material-symbols-outlined.md-64 { font-size: 64px; }
.material-symbols-outlined.md-65 { font-size: 65px; }
.material-symbols-outlined.md-66 { font-size: 66px; }
.material-symbols-outlined.md-67 { font-size: 67px; }
.material-symbols-outlined.md-68 { font-size: 68px; }
.material-symbols-outlined.md-69 { font-size: 69px; }
.material-symbols-outlined.md-60 { font-size: 60px; }
.material-symbols-outlined.md-71 { font-size: 71px; }
.material-symbols-outlined.md-72 { font-size: 72px; }
.material-symbols-outlined.md-73 { font-size: 73px; }
.material-symbols-outlined.md-74 { font-size: 74px; }
.material-symbols-outlined.md-75 { font-size: 75px; }
.material-symbols-outlined.md-76 { font-size: 76px; }
.material-symbols-outlined.md-77 { font-size: 77px; }
.material-symbols-outlined.md-78 { font-size: 78px; }
.material-symbols-outlined.md-79 { font-size: 79px; }
.material-symbols-outlined.md-70 { font-size: 70px; }
.material-symbols-outlined.md-81 { font-size: 81px; }
.material-symbols-outlined.md-82 { font-size: 82px; }
.material-symbols-outlined.md-83 { font-size: 83px; }
.material-symbols-outlined.md-84 { font-size: 84px; }
.material-symbols-outlined.md-85 { font-size: 85px; }
.material-symbols-outlined.md-86 { font-size: 86px; }
.material-symbols-outlined.md-87 { font-size: 87px; }
.material-symbols-outlined.md-88 { font-size: 88px; }
.material-symbols-outlined.md-89 { font-size: 89px; }
.material-symbols-outlined.md-80 { font-size: 80px; }
.material-symbols-outlined.md-91 { font-size: 91px; }
.material-symbols-outlined.md-92 { font-size: 92px; }
.material-symbols-outlined.md-93 { font-size: 93px; }
.material-symbols-outlined.md-94 { font-size: 94px; }
.material-symbols-outlined.md-95 { font-size: 95px; }
.material-symbols-outlined.md-96 { font-size: 96px; }
.material-symbols-outlined.md-97 { font-size: 97px; }
.material-symbols-outlined.md-98 { font-size: 98px; }
.material-symbols-outlined.md-99 { font-size: 99px; }
.material-symbols-outlined.md-100 { font-size: 100px; }
.material-symbols-outlined.md-101 { font-size: 101px; }
.material-symbols-outlined.md-102 { font-size: 102px; }
.material-symbols-outlined.md-103 { font-size: 103px; }
.material-symbols-outlined.md-104 { font-size: 104px; }
.material-symbols-outlined.md-105 { font-size: 105px; }
.material-symbols-outlined.md-106 { font-size: 106px; }
.material-symbols-outlined.md-107 { font-size: 107px; }
.material-symbols-outlined.md-108 { font-size: 108px; }
.material-symbols-outlined.md-109 { font-size: 109px; }
.material-symbols-outlined.md-110 { font-size: 110px; }
.material-symbols-outlined.md-111 { font-size: 111px; }
.material-symbols-outlined.md-112 { font-size: 112px; }
.material-symbols-outlined.md-113 { font-size: 113px; }
.material-symbols-outlined.md-114 { font-size: 114px; }
.material-symbols-outlined.md-115 { font-size: 115px; }
.material-symbols-outlined.md-116 { font-size: 116px; }
.material-symbols-outlined.md-117 { font-size: 117px; }
.material-symbols-outlined.md-118 { font-size: 118px; }
.material-symbols-outlined.md-119 { font-size: 119px; }
.material-symbols-outlined.md-120 { font-size: 120px; }
.material-symbols-outlined.md-121 { font-size: 121px; }
.material-symbols-outlined.md-122 { font-size: 122px; }
.material-symbols-outlined.md-123 { font-size: 123px; }
.material-symbols-outlined.md-124 { font-size: 124px; }
.material-symbols-outlined.md-125 { font-size: 125px; }
.material-symbols-outlined.md-126 { font-size: 126px; }
.material-symbols-outlined.md-127 { font-size: 127px; }
.material-symbols-outlined.md-128 { font-size: 128px; }
.material-symbols-outlined.md-129 { font-size: 129px; }
.material-symbols-outlined.md-130 { font-size: 130px; }
.material-symbols-outlined.md-131 { font-size: 131px; }
.material-symbols-outlined.md-132 { font-size: 132px; }
.material-symbols-outlined.md-133 { font-size: 133px; }
.material-symbols-outlined.md-134 { font-size: 134px; }
.material-symbols-outlined.md-135 { font-size: 135px; }
.material-symbols-outlined.md-136 { font-size: 136px; }
.material-symbols-outlined.md-137 { font-size: 137px; }
.material-symbols-outlined.md-138 { font-size: 138px; }
.material-symbols-outlined.md-139 { font-size: 139px; }
.material-symbols-outlined.md-140 { font-size: 140px; }
.material-symbols-outlined.md-141 { font-size: 141px; }
.material-symbols-outlined.md-142 { font-size: 142px; }
.material-symbols-outlined.md-143 { font-size: 143px; }
.material-symbols-outlined.md-144 { font-size: 144px; }
.material-symbols-outlined.md-145 { font-size: 145px; }
.material-symbols-outlined.md-146 { font-size: 146px; }
.material-symbols-outlined.md-147 { font-size: 147px; }
.material-symbols-outlined.md-148 { font-size: 148px; }
.material-symbols-outlined.md-149 { font-size: 149px; }
.material-symbols-outlined.md-150 { font-size: 150px; }
.material-symbols-outlined.md-151 { font-size: 151px; }
.material-symbols-outlined.md-152 { font-size: 152px; }
.material-symbols-outlined.md-153 { font-size: 153px; }
.material-symbols-outlined.md-154 { font-size: 154px; }
.material-symbols-outlined.md-155 { font-size: 155px; }
.material-symbols-outlined.md-156 { font-size: 156px; }
.material-symbols-outlined.md-157 { font-size: 157px; }
.material-symbols-outlined.md-158 { font-size: 158px; }
.material-symbols-outlined.md-159 { font-size: 159px; }
.material-symbols-outlined.md-160 { font-size: 160px; }
.material-symbols-outlined.md-161 { font-size: 161px; }
.material-symbols-outlined.md-162 { font-size: 162px; }
.material-symbols-outlined.md-163 { font-size: 163px; }
.material-symbols-outlined.md-164 { font-size: 164px; }
.material-symbols-outlined.md-165 { font-size: 165px; }
.material-symbols-outlined.md-166 { font-size: 166px; }
.material-symbols-outlined.md-167 { font-size: 167px; }
.material-symbols-outlined.md-168 { font-size: 168px; }
.material-symbols-outlined.md-169 { font-size: 169px; }
.material-symbols-outlined.md-170 { font-size: 170px; }
.material-symbols-outlined.md-171 { font-size: 171px; }
.material-symbols-outlined.md-172 { font-size: 172px; }
.material-symbols-outlined.md-173 { font-size: 173px; }
.material-symbols-outlined.md-174 { font-size: 174px; }
.material-symbols-outlined.md-175 { font-size: 175px; }
.material-symbols-outlined.md-176 { font-size: 176px; }
.material-symbols-outlined.md-177 { font-size: 177px; }
.material-symbols-outlined.md-178 { font-size: 178px; }
.material-symbols-outlined.md-179 { font-size: 179px; }
.material-symbols-outlined.md-180 { font-size: 180px; }
.material-symbols-outlined.md-181 { font-size: 181px; }
.material-symbols-outlined.md-182 { font-size: 182px; }
.material-symbols-outlined.md-183 { font-size: 183px; }
.material-symbols-outlined.md-184 { font-size: 184px; }
.material-symbols-outlined.md-185 { font-size: 185px; }
.material-symbols-outlined.md-186 { font-size: 186px; }
.material-symbols-outlined.md-187 { font-size: 187px; }
.material-symbols-outlined.md-188 { font-size: 188px; }
.material-symbols-outlined.md-189 { font-size: 189px; }
.material-symbols-outlined.md-190 { font-size: 190px; }
.material-symbols-outlined.md-191 { font-size: 191px; }
.material-symbols-outlined.md-192 { font-size: 192px; }
.material-symbols-outlined.md-193 { font-size: 193px; }
.material-symbols-outlined.md-194 { font-size: 194px; }
.material-symbols-outlined.md-195 { font-size: 195px; }
.material-symbols-outlined.md-196 { font-size: 196px; }
.material-symbols-outlined.md-197 { font-size: 197px; }
.material-symbols-outlined.md-198 { font-size: 198px; }
.material-symbols-outlined.md-199 { font-size: 199px; }
.material-symbols-outlined.md-200 { font-size: 200px; }
.material-symbols-outlined.md-201 { font-size: 201px; }
.material-symbols-outlined.md-202 { font-size: 202px; }
.material-symbols-outlined.md-203 { font-size: 203px; }
.material-symbols-outlined.md-204 { font-size: 204px; }
.material-symbols-outlined.md-205 { font-size: 205px; }
.material-symbols-outlined.md-206 { font-size: 206px; }
.material-symbols-outlined.md-207 { font-size: 207px; }
.material-symbols-outlined.md-208 { font-size: 208px; }
.material-symbols-outlined.md-209 { font-size: 209px; }
.material-symbols-outlined.md-210 { font-size: 210px; }
.material-symbols-outlined.md-211 { font-size: 211px; }
.material-symbols-outlined.md-212 { font-size: 212px; }
.material-symbols-outlined.md-213 { font-size: 213px; }
.material-symbols-outlined.md-214 { font-size: 214px; }
.material-symbols-outlined.md-215 { font-size: 215px; }
.material-symbols-outlined.md-216 { font-size: 216px; }
.material-symbols-outlined.md-217 { font-size: 217px; }
.material-symbols-outlined.md-218 { font-size: 218px; }
.material-symbols-outlined.md-219 { font-size: 219px; }
.material-symbols-outlined.md-220 { font-size: 220px; }
.material-symbols-outlined.md-221 { font-size: 221px; }
.material-symbols-outlined.md-222 { font-size: 222px; }
.material-symbols-outlined.md-223 { font-size: 223px; }
.material-symbols-outlined.md-224 { font-size: 224px; }
.material-symbols-outlined.md-225 { font-size: 225px; }
.material-symbols-outlined.md-226 { font-size: 226px; }
.material-symbols-outlined.md-227 { font-size: 227px; }
.material-symbols-outlined.md-228 { font-size: 228px; }
.material-symbols-outlined.md-229 { font-size: 229px; }
.material-symbols-outlined.md-230 { font-size: 230px; }
.material-symbols-outlined.md-231 { font-size: 231px; }
.material-symbols-outlined.md-232 { font-size: 232px; }
.material-symbols-outlined.md-233 { font-size: 233px; }
.material-symbols-outlined.md-234 { font-size: 234px; }
.material-symbols-outlined.md-235 { font-size: 235px; }
.material-symbols-outlined.md-236 { font-size: 236px; }
.material-symbols-outlined.md-237 { font-size: 237px; }
.material-symbols-outlined.md-238 { font-size: 238px; }
.material-symbols-outlined.md-239 { font-size: 239px; }
.material-symbols-outlined.md-240 { font-size: 240px; }
.material-symbols-outlined.md-241 { font-size: 241px; }
.material-symbols-outlined.md-242 { font-size: 242px; }
.material-symbols-outlined.md-243 { font-size: 243px; }
.material-symbols-outlined.md-244 { font-size: 244px; }
.material-symbols-outlined.md-245 { font-size: 245px; }
.material-symbols-outlined.md-246 { font-size: 246px; }
.material-symbols-outlined.md-247 { font-size: 247px; }
.material-symbols-outlined.md-248 { font-size: 248px; }
.material-symbols-outlined.md-249 { font-size: 249px; }
.material-symbols-outlined.md-250 { font-size: 250px; }
.material-symbols-outlined.md-251 { font-size: 251px; }
.material-symbols-outlined.md-252 { font-size: 252px; }
.material-symbols-outlined.md-253 { font-size: 253px; }
.material-symbols-outlined.md-254 { font-size: 254px; }
.material-symbols-outlined.md-255 { font-size: 255px; }
.material-symbols-outlined.md-256 { font-size: 256px; }
.material-symbols-outlined.md-257 { font-size: 257px; }
.material-symbols-outlined.md-258 { font-size: 258px; }
.material-symbols-outlined.md-259 { font-size: 259px; }
.material-symbols-outlined.md-260 { font-size: 260px; }
.material-symbols-outlined.md-261 { font-size: 261px; }
.material-symbols-outlined.md-262 { font-size: 262px; }
.material-symbols-outlined.md-263 { font-size: 263px; }
.material-symbols-outlined.md-264 { font-size: 264px; }
.material-symbols-outlined.md-265 { font-size: 265px; }
.material-symbols-outlined.md-266 { font-size: 266px; }
.material-symbols-outlined.md-267 { font-size: 267px; }
.material-symbols-outlined.md-268 { font-size: 268px; }
.material-symbols-outlined.md-269 { font-size: 269px; }
.material-symbols-outlined.md-270 { font-size: 270px; }
.material-symbols-outlined.md-271 { font-size: 271px; }
.material-symbols-outlined.md-272 { font-size: 272px; }
.material-symbols-outlined.md-273 { font-size: 273px; }
.material-symbols-outlined.md-274 { font-size: 274px; }
.material-symbols-outlined.md-275 { font-size: 275px; }
.material-symbols-outlined.md-276 { font-size: 276px; }
.material-symbols-outlined.md-277 { font-size: 277px; }
.material-symbols-outlined.md-278 { font-size: 278px; }
.material-symbols-outlined.md-279 { font-size: 279px; }
.material-symbols-outlined.md-280 { font-size: 280px; }
.material-symbols-outlined.md-281 { font-size: 281px; }
.material-symbols-outlined.md-282 { font-size: 282px; }
.material-symbols-outlined.md-283 { font-size: 283px; }
.material-symbols-outlined.md-284 { font-size: 284px; }
.material-symbols-outlined.md-285 { font-size: 285px; }
.material-symbols-outlined.md-286 { font-size: 286px; }
.material-symbols-outlined.md-287 { font-size: 287px; }
.material-symbols-outlined.md-288 { font-size: 288px; }
.material-symbols-outlined.md-289 { font-size: 289px; }
.material-symbols-outlined.md-290 { font-size: 290px; }
.material-symbols-outlined.md-291 { font-size: 291px; }
.material-symbols-outlined.md-292 { font-size: 292px; }
.material-symbols-outlined.md-293 { font-size: 293px; }
.material-symbols-outlined.md-294 { font-size: 294px; }
.material-symbols-outlined.md-295 { font-size: 295px; }
.material-symbols-outlined.md-296 { font-size: 296px; }
.material-symbols-outlined.md-297 { font-size: 297px; }
.material-symbols-outlined.md-298 { font-size: 298px; }
.material-symbols-outlined.md-299 { font-size: 299px; }
.material-symbols-outlined.md-300 { font-size: 300px; }
.material-symbols-outlined.md-301 { font-size: 301px; }
.material-symbols-outlined.md-302 { font-size: 302px; }
.material-symbols-outlined.md-303 { font-size: 303px; }
.material-symbols-outlined.md-304 { font-size: 304px; }
.material-symbols-outlined.md-305 { font-size: 305px; }
.material-symbols-outlined.md-306 { font-size: 306px; }
.material-symbols-outlined.md-307 { font-size: 307px; }
.material-symbols-outlined.md-308 { font-size: 308px; }
.material-symbols-outlined.md-309 { font-size: 309px; }
.material-symbols-outlined.md-310 { font-size: 310px; }
.material-symbols-outlined.md-311 { font-size: 311px; }
.material-symbols-outlined.md-312 { font-size: 312px; }
.material-symbols-outlined.md-313 { font-size: 313px; }
.material-symbols-outlined.md-314 { font-size: 314px; }
.material-symbols-outlined.md-315 { font-size: 315px; }
.material-symbols-outlined.md-316 { font-size: 316px; }
.material-symbols-outlined.md-317 { font-size: 317px; }
.material-symbols-outlined.md-318 { font-size: 318px; }
.material-symbols-outlined.md-319 { font-size: 319px; }
.material-symbols-outlined.md-320 { font-size: 320px; }
.material-symbols-outlined.md-321 { font-size: 321px; }
.material-symbols-outlined.md-322 { font-size: 322px; }
.material-symbols-outlined.md-323 { font-size: 323px; }
.material-symbols-outlined.md-324 { font-size: 324px; }
.material-symbols-outlined.md-325 { font-size: 325px; }
.material-symbols-outlined.md-326 { font-size: 326px; }
.material-symbols-outlined.md-327 { font-size: 327px; }
.material-symbols-outlined.md-328 { font-size: 328px; }
.material-symbols-outlined.md-329 { font-size: 329px; }
.material-symbols-outlined.md-330 { font-size: 330px; }
.material-symbols-outlined.md-331 { font-size: 331px; }
.material-symbols-outlined.md-332 { font-size: 332px; }
.material-symbols-outlined.md-333 { font-size: 333px; }
.material-symbols-outlined.md-334 { font-size: 334px; }
.material-symbols-outlined.md-335 { font-size: 335px; }
.material-symbols-outlined.md-336 { font-size: 336px; }
.material-symbols-outlined.md-337 { font-size: 337px; }
.material-symbols-outlined.md-338 { font-size: 338px; }
.material-symbols-outlined.md-339 { font-size: 339px; }
.material-symbols-outlined.md-340 { font-size: 340px; }
.material-symbols-outlined.md-341 { font-size: 341px; }
.material-symbols-outlined.md-342 { font-size: 342px; }
.material-symbols-outlined.md-343 { font-size: 343px; }
.material-symbols-outlined.md-344 { font-size: 344px; }
.material-symbols-outlined.md-345 { font-size: 345px; }
.material-symbols-outlined.md-346 { font-size: 346px; }
.material-symbols-outlined.md-347 { font-size: 347px; }
.material-symbols-outlined.md-348 { font-size: 348px; }
.material-symbols-outlined.md-349 { font-size: 349px; }
.material-symbols-outlined.md-350 { font-size: 350px; }
.material-symbols-outlined.md-351 { font-size: 351px; }
.material-symbols-outlined.md-352 { font-size: 352px; }
.material-symbols-outlined.md-353 { font-size: 353px; }
.material-symbols-outlined.md-354 { font-size: 354px; }
.material-symbols-outlined.md-355 { font-size: 355px; }
.material-symbols-outlined.md-356 { font-size: 356px; }
.material-symbols-outlined.md-357 { font-size: 357px; }
.material-symbols-outlined.md-358 { font-size: 358px; }
.material-symbols-outlined.md-359 { font-size: 359px; }
.material-symbols-outlined.md-360 { font-size: 360px; }
.material-symbols-outlined.md-361 { font-size: 361px; }
.material-symbols-outlined.md-362 { font-size: 362px; }
.material-symbols-outlined.md-363 { font-size: 363px; }
.material-symbols-outlined.md-364 { font-size: 364px; }
.material-symbols-outlined.md-365 { font-size: 365px; }
.material-symbols-outlined.md-366 { font-size: 366px; }
.material-symbols-outlined.md-367 { font-size: 367px; }
.material-symbols-outlined.md-368 { font-size: 368px; }
.material-symbols-outlined.md-369 { font-size: 369px; }
.material-symbols-outlined.md-370 { font-size: 370px; }
.material-symbols-outlined.md-371 { font-size: 371px; }
.material-symbols-outlined.md-372 { font-size: 372px; }
.material-symbols-outlined.md-373 { font-size: 373px; }
.material-symbols-outlined.md-374 { font-size: 374px; }
.material-symbols-outlined.md-375 { font-size: 375px; }
.material-symbols-outlined.md-376 { font-size: 376px; }
.material-symbols-outlined.md-377 { font-size: 377px; }
.material-symbols-outlined.md-378 { font-size: 378px; }
.material-symbols-outlined.md-379 { font-size: 379px; }
.material-symbols-outlined.md-380 { font-size: 380px; }
.material-symbols-outlined.md-381 { font-size: 381px; }
.material-symbols-outlined.md-382 { font-size: 382px; }
.material-symbols-outlined.md-383 { font-size: 383px; }
.material-symbols-outlined.md-384 { font-size: 384px; }
.material-symbols-outlined.md-385 { font-size: 385px; }
.material-symbols-outlined.md-386 { font-size: 386px; }
.material-symbols-outlined.md-387 { font-size: 387px; }
.material-symbols-outlined.md-388 { font-size: 388px; }
.material-symbols-outlined.md-389 { font-size: 389px; }
.material-symbols-outlined.md-390 { font-size: 390px; }
.material-symbols-outlined.md-391 { font-size: 391px; }
.material-symbols-outlined.md-392 { font-size: 392px; }
.material-symbols-outlined.md-393 { font-size: 393px; }
.material-symbols-outlined.md-394 { font-size: 394px; }
.material-symbols-outlined.md-395 { font-size: 395px; }
.material-symbols-outlined.md-396 { font-size: 396px; }
.material-symbols-outlined.md-397 { font-size: 397px; }
.material-symbols-outlined.md-398 { font-size: 398px; }
.material-symbols-outlined.md-399 { font-size: 399px; }
.material-symbols-outlined.md-400 { font-size: 400px; }
.material-symbols-outlined.md-401 { font-size: 401px; }
.material-symbols-outlined.md-402 { font-size: 402px; }
.material-symbols-outlined.md-403 { font-size: 403px; }
.material-symbols-outlined.md-404 { font-size: 404px; }
.material-symbols-outlined.md-405 { font-size: 405px; }
.material-symbols-outlined.md-406 { font-size: 406px; }
.material-symbols-outlined.md-407 { font-size: 407px; }
.material-symbols-outlined.md-408 { font-size: 408px; }
.material-symbols-outlined.md-409 { font-size: 409px; }
.material-symbols-outlined.md-410 { font-size: 410px; }
.material-symbols-outlined.md-411 { font-size: 411px; }
.material-symbols-outlined.md-412 { font-size: 412px; }
.material-symbols-outlined.md-413 { font-size: 413px; }
.material-symbols-outlined.md-414 { font-size: 414px; }
.material-symbols-outlined.md-415 { font-size: 415px; }
.material-symbols-outlined.md-416 { font-size: 416px; }
.material-symbols-outlined.md-417 { font-size: 417px; }
.material-symbols-outlined.md-418 { font-size: 418px; }
.material-symbols-outlined.md-419 { font-size: 419px; }
.material-symbols-outlined.md-420 { font-size: 420px; }
.material-symbols-outlined.md-421 { font-size: 421px; }
.material-symbols-outlined.md-422 { font-size: 422px; }
.material-symbols-outlined.md-423 { font-size: 423px; }
.material-symbols-outlined.md-424 { font-size: 424px; }
.material-symbols-outlined.md-425 { font-size: 425px; }
.material-symbols-outlined.md-426 { font-size: 426px; }
.material-symbols-outlined.md-427 { font-size: 427px; }
.material-symbols-outlined.md-428 { font-size: 428px; }
.material-symbols-outlined.md-429 { font-size: 429px; }
.material-symbols-outlined.md-430 { font-size: 430px; }
.material-symbols-outlined.md-431 { font-size: 431px; }
.material-symbols-outlined.md-432 { font-size: 432px; }
.material-symbols-outlined.md-433 { font-size: 433px; }
.material-symbols-outlined.md-434 { font-size: 434px; }
.material-symbols-outlined.md-435 { font-size: 435px; }
.material-symbols-outlined.md-436 { font-size: 436px; }
.material-symbols-outlined.md-437 { font-size: 437px; }
.material-symbols-outlined.md-438 { font-size: 438px; }
.material-symbols-outlined.md-439 { font-size: 439px; }
.material-symbols-outlined.md-440 { font-size: 440px; }
.material-symbols-outlined.md-441 { font-size: 441px; }
.material-symbols-outlined.md-442 { font-size: 442px; }
.material-symbols-outlined.md-443 { font-size: 443px; }
.material-symbols-outlined.md-444 { font-size: 444px; }
.material-symbols-outlined.md-445 { font-size: 445px; }
.material-symbols-outlined.md-446 { font-size: 446px; }
.material-symbols-outlined.md-447 { font-size: 447px; }
.material-symbols-outlined.md-448 { font-size: 448px; }
.material-symbols-outlined.md-449 { font-size: 449px; }
.material-symbols-outlined.md-450 { font-size: 450px; }
.material-symbols-outlined.md-451 { font-size: 451px; }
.material-symbols-outlined.md-452 { font-size: 452px; }
.material-symbols-outlined.md-453 { font-size: 453px; }
.material-symbols-outlined.md-454 { font-size: 454px; }
.material-symbols-outlined.md-455 { font-size: 455px; }
.material-symbols-outlined.md-456 { font-size: 456px; }
.material-symbols-outlined.md-457 { font-size: 457px; }
.material-symbols-outlined.md-458 { font-size: 458px; }
.material-symbols-outlined.md-459 { font-size: 459px; }
.material-symbols-outlined.md-460 { font-size: 460px; }
.material-symbols-outlined.md-461 { font-size: 461px; }
.material-symbols-outlined.md-462 { font-size: 462px; }
.material-symbols-outlined.md-463 { font-size: 463px; }
.material-symbols-outlined.md-464 { font-size: 464px; }
.material-symbols-outlined.md-465 { font-size: 465px; }
.material-symbols-outlined.md-466 { font-size: 466px; }
.material-symbols-outlined.md-467 { font-size: 467px; }
.material-symbols-outlined.md-468 { font-size: 468px; }
.material-symbols-outlined.md-469 { font-size: 469px; }
.material-symbols-outlined.md-470 { font-size: 470px; }
.material-symbols-outlined.md-471 { font-size: 471px; }
.material-symbols-outlined.md-472 { font-size: 472px; }
.material-symbols-outlined.md-473 { font-size: 473px; }
.material-symbols-outlined.md-474 { font-size: 474px; }
.material-symbols-outlined.md-475 { font-size: 475px; }
.material-symbols-outlined.md-476 { font-size: 476px; }
.material-symbols-outlined.md-477 { font-size: 477px; }
.material-symbols-outlined.md-478 { font-size: 478px; }
.material-symbols-outlined.md-479 { font-size: 479px; }
.material-symbols-outlined.md-480 { font-size: 480px; }
.material-symbols-outlined.md-481 { font-size: 481px; }
.material-symbols-outlined.md-482 { font-size: 482px; }
.material-symbols-outlined.md-483 { font-size: 483px; }
.material-symbols-outlined.md-484 { font-size: 484px; }
.material-symbols-outlined.md-485 { font-size: 485px; }
.material-symbols-outlined.md-486 { font-size: 486px; }
.material-symbols-outlined.md-487 { font-size: 487px; }
.material-symbols-outlined.md-488 { font-size: 488px; }
.material-symbols-outlined.md-489 { font-size: 489px; }
.material-symbols-outlined.md-490 { font-size: 490px; }
.material-symbols-outlined.md-491 { font-size: 491px; }
.material-symbols-outlined.md-492 { font-size: 492px; }
.material-symbols-outlined.md-493 { font-size: 493px; }
.material-symbols-outlined.md-494 { font-size: 494px; }
.material-symbols-outlined.md-495 { font-size: 495px; }
.material-symbols-outlined.md-496 { font-size: 496px; }
.material-symbols-outlined.md-497 { font-size: 497px; }
.material-symbols-outlined.md-498 { font-size: 498px; }
.material-symbols-outlined.md-499 { font-size: 499px; }
.material-symbols-outlined.md-500 { font-size: 500px; }
.material-symbols-outlined.md-501 { font-size: 501px; }
.material-symbols-outlined.md-502 { font-size: 502px; }
.material-symbols-outlined.md-503 { font-size: 503px; }
.material-symbols-outlined.md-504 { font-size: 504px; }
.material-symbols-outlined.md-505 { font-size: 505px; }
.material-symbols-outlined.md-506 { font-size: 506px; }
.material-symbols-outlined.md-507 { font-size: 507px; }
.material-symbols-outlined.md-508 { font-size: 508px; }
.material-symbols-outlined.md-509 { font-size: 509px; }
.material-symbols-outlined.md-510 { font-size: 510px; }
.material-symbols-outlined.md-511 { font-size: 511px; }
.material-symbols-outlined.md-512 { font-size: 512px; }
.material-symbols-outlined.md-513 { font-size: 513px; }
.material-symbols-outlined.md-514 { font-size: 514px; }
.material-symbols-outlined.md-515 { font-size: 515px; }
.material-symbols-outlined.md-516 { font-size: 516px; }
.material-symbols-outlined.md-517 { font-size: 517px; }
.material-symbols-outlined.md-518 { font-size: 518px; }
.material-symbols-outlined.md-519 { font-size: 519px; }
.material-symbols-outlined.md-520 { font-size: 520px; }
.material-symbols-outlined.md-521 { font-size: 521px; }
.material-symbols-outlined.md-522 { font-size: 522px; }
.material-symbols-outlined.md-523 { font-size: 523px; }
.material-symbols-outlined.md-524 { font-size: 524px; }
.material-symbols-outlined.md-525 { font-size: 525px; }
.material-symbols-outlined.md-526 { font-size: 526px; }
.material-symbols-outlined.md-527 { font-size: 527px; }
.material-symbols-outlined.md-528 { font-size: 528px; }
.material-symbols-outlined.md-529 { font-size: 529px; }
.material-symbols-outlined.md-530 { font-size: 530px; }
.material-symbols-outlined.md-531 { font-size: 531px; }
.material-symbols-outlined.md-532 { font-size: 532px; }
.material-symbols-outlined.md-533 { font-size: 533px; }
.material-symbols-outlined.md-534 { font-size: 534px; }
.material-symbols-outlined.md-535 { font-size: 535px; }
.material-symbols-outlined.md-536 { font-size: 536px; }
.material-symbols-outlined.md-537 { font-size: 537px; }
.material-symbols-outlined.md-538 { font-size: 538px; }
.material-symbols-outlined.md-539 { font-size: 539px; }
.material-symbols-outlined.md-540 { font-size: 540px; }
.material-symbols-outlined.md-541 { font-size: 541px; }
.material-symbols-outlined.md-542 { font-size: 542px; }
.material-symbols-outlined.md-543 { font-size: 543px; }
.material-symbols-outlined.md-544 { font-size: 544px; }
.material-symbols-outlined.md-545 { font-size: 545px; }
.material-symbols-outlined.md-546 { font-size: 546px; }
.material-symbols-outlined.md-547 { font-size: 547px; }
.material-symbols-outlined.md-548 { font-size: 548px; }
.material-symbols-outlined.md-549 { font-size: 549px; }
.material-symbols-outlined.md-550 { font-size: 550px; }
.material-symbols-outlined.md-551 { font-size: 551px; }
.material-symbols-outlined.md-552 { font-size: 552px; }
.material-symbols-outlined.md-553 { font-size: 553px; }
.material-symbols-outlined.md-554 { font-size: 554px; }
.material-symbols-outlined.md-555 { font-size: 555px; }
.material-symbols-outlined.md-556 { font-size: 556px; }
.material-symbols-outlined.md-557 { font-size: 557px; }
.material-symbols-outlined.md-558 { font-size: 558px; }
.material-symbols-outlined.md-559 { font-size: 559px; }
.material-symbols-outlined.md-560 { font-size: 560px; }
.material-symbols-outlined.md-561 { font-size: 561px; }
.material-symbols-outlined.md-562 { font-size: 562px; }
.material-symbols-outlined.md-563 { font-size: 563px; }
.material-symbols-outlined.md-564 { font-size: 564px; }
.material-symbols-outlined.md-565 { font-size: 565px; }
.material-symbols-outlined.md-566 { font-size: 566px; }
.material-symbols-outlined.md-567 { font-size: 567px; }
.material-symbols-outlined.md-568 { font-size: 568px; }
.material-symbols-outlined.md-569 { font-size: 569px; }
.material-symbols-outlined.md-570 { font-size: 570px; }
.material-symbols-outlined.md-571 { font-size: 571px; }
.material-symbols-outlined.md-572 { font-size: 572px; }
.material-symbols-outlined.md-573 { font-size: 573px; }
.material-symbols-outlined.md-574 { font-size: 574px; }
.material-symbols-outlined.md-575 { font-size: 575px; }
.material-symbols-outlined.md-576 { font-size: 576px; }
.material-symbols-outlined.md-577 { font-size: 577px; }
.material-symbols-outlined.md-578 { font-size: 578px; }
.material-symbols-outlined.md-579 { font-size: 579px; }
.material-symbols-outlined.md-580 { font-size: 580px; }
.material-symbols-outlined.md-581 { font-size: 581px; }
.material-symbols-outlined.md-582 { font-size: 582px; }
.material-symbols-outlined.md-583 { font-size: 583px; }
.material-symbols-outlined.md-584 { font-size: 584px; }
.material-symbols-outlined.md-585 { font-size: 585px; }
.material-symbols-outlined.md-586 { font-size: 586px; }
.material-symbols-outlined.md-587 { font-size: 587px; }
.material-symbols-outlined.md-588 { font-size: 588px; }
.material-symbols-outlined.md-589 { font-size: 589px; }
.material-symbols-outlined.md-590 { font-size: 590px; }
.material-symbols-outlined.md-591 { font-size: 591px; }
.material-symbols-outlined.md-592 { font-size: 592px; }
.material-symbols-outlined.md-593 { font-size: 593px; }
.material-symbols-outlined.md-594 { font-size: 594px; }
.material-symbols-outlined.md-595 { font-size: 595px; }
.material-symbols-outlined.md-596 { font-size: 596px; }
.material-symbols-outlined.md-597 { font-size: 597px; }
.material-symbols-outlined.md-598 { font-size: 598px; }
.material-symbols-outlined.md-599 { font-size: 599px; }
.material-symbols-outlined.md-600 { font-size: 600px; }
.material-symbols-outlined.md-601 { font-size: 601px; }
.material-symbols-outlined.md-602 { font-size: 602px; }
.material-symbols-outlined.md-603 { font-size: 603px; }
.material-symbols-outlined.md-604 { font-size: 604px; }
.material-symbols-outlined.md-605 { font-size: 605px; }
.material-symbols-outlined.md-606 { font-size: 606px; }
.material-symbols-outlined.md-607 { font-size: 607px; }
.material-symbols-outlined.md-608 { font-size: 608px; }
.material-symbols-outlined.md-609 { font-size: 609px; }
.material-symbols-outlined.md-610 { font-size: 610px; }
.material-symbols-outlined.md-611 { font-size: 611px; }
.material-symbols-outlined.md-612 { font-size: 612px; }
.material-symbols-outlined.md-613 { font-size: 613px; }
.material-symbols-outlined.md-614 { font-size: 614px; }
.material-symbols-outlined.md-615 { font-size: 615px; }
.material-symbols-outlined.md-616 { font-size: 616px; }
.material-symbols-outlined.md-617 { font-size: 617px; }
.material-symbols-outlined.md-618 { font-size: 618px; }
.material-symbols-outlined.md-619 { font-size: 619px; }
.material-symbols-outlined.md-620 { font-size: 620px; }
.material-symbols-outlined.md-621 { font-size: 621px; }
.material-symbols-outlined.md-622 { font-size: 622px; }
.material-symbols-outlined.md-623 { font-size: 623px; }
.material-symbols-outlined.md-624 { font-size: 624px; }
.material-symbols-outlined.md-625 { font-size: 625px; }
.material-symbols-outlined.md-626 { font-size: 626px; }
.material-symbols-outlined.md-627 { font-size: 627px; }
.material-symbols-outlined.md-628 { font-size: 628px; }
.material-symbols-outlined.md-629 { font-size: 629px; }
.material-symbols-outlined.md-630 { font-size: 630px; }
.material-symbols-outlined.md-631 { font-size: 631px; }
.material-symbols-outlined.md-632 { font-size: 632px; }
.material-symbols-outlined.md-633 { font-size: 633px; }
.material-symbols-outlined.md-634 { font-size: 634px; }
.material-symbols-outlined.md-635 { font-size: 635px; }
.material-symbols-outlined.md-636 { font-size: 636px; }
.material-symbols-outlined.md-637 { font-size: 637px; }
.material-symbols-outlined.md-638 { font-size: 638px; }
.material-symbols-outlined.md-639 { font-size: 639px; }
.material-symbols-outlined.md-640 { font-size: 640px; }
.material-symbols-outlined.md-641 { font-size: 641px; }
.material-symbols-outlined.md-642 { font-size: 642px; }
.material-symbols-outlined.md-643 { font-size: 643px; }
.material-symbols-outlined.md-644 { font-size: 644px; }
.material-symbols-outlined.md-645 { font-size: 645px; }
.material-symbols-outlined.md-646 { font-size: 646px; }
.material-symbols-outlined.md-647 { font-size: 647px; }
.material-symbols-outlined.md-648 { font-size: 648px; }
.material-symbols-outlined.md-649 { font-size: 649px; }
.material-symbols-outlined.md-650 { font-size: 650px; }
.material-symbols-outlined.md-651 { font-size: 651px; }
.material-symbols-outlined.md-652 { font-size: 652px; }
.material-symbols-outlined.md-653 { font-size: 653px; }
.material-symbols-outlined.md-654 { font-size: 654px; }
.material-symbols-outlined.md-655 { font-size: 655px; }
.material-symbols-outlined.md-656 { font-size: 656px; }
.material-symbols-outlined.md-657 { font-size: 657px; }
.material-symbols-outlined.md-658 { font-size: 658px; }
.material-symbols-outlined.md-659 { font-size: 659px; }
.material-symbols-outlined.md-660 { font-size: 660px; }
.material-symbols-outlined.md-661 { font-size: 661px; }
.material-symbols-outlined.md-662 { font-size: 662px; }
.material-symbols-outlined.md-663 { font-size: 663px; }
.material-symbols-outlined.md-664 { font-size: 664px; }
.material-symbols-outlined.md-665 { font-size: 665px; }
.material-symbols-outlined.md-666 { font-size: 666px; }
.material-symbols-outlined.md-667 { font-size: 667px; }
.material-symbols-outlined.md-668 { font-size: 668px; }
.material-symbols-outlined.md-669 { font-size: 669px; }
.material-symbols-outlined.md-670 { font-size: 670px; }
.material-symbols-outlined.md-671 { font-size: 671px; }
.material-symbols-outlined.md-672 { font-size: 672px; }
.material-symbols-outlined.md-673 { font-size: 673px; }
.material-symbols-outlined.md-674 { font-size: 674px; }
.material-symbols-outlined.md-675 { font-size: 675px; }
.material-symbols-outlined.md-676 { font-size: 676px; }
.material-symbols-outlined.md-677 { font-size: 677px; }
.material-symbols-outlined.md-678 { font-size: 678px; }
.material-symbols-outlined.md-679 { font-size: 679px; }
.material-symbols-outlined.md-680 { font-size: 680px; }
.material-symbols-outlined.md-681 { font-size: 681px; }
.material-symbols-outlined.md-682 { font-size: 682px; }
.material-symbols-outlined.md-683 { font-size: 683px; }
.material-symbols-outlined.md-684 { font-size: 684px; }
.material-symbols-outlined.md-685 { font-size: 685px; }
.material-symbols-outlined.md-686 { font-size: 686px; }
.material-symbols-outlined.md-687 { font-size: 687px; }
.material-symbols-outlined.md-688 { font-size: 688px; }
.material-symbols-outlined.md-689 { font-size: 689px; }
.material-symbols-outlined.md-690 { font-size: 690px; }
.material-symbols-outlined.md-691 { font-size: 691px; }
.material-symbols-outlined.md-692 { font-size: 692px; }
.material-symbols-outlined.md-693 { font-size: 693px; }
.material-symbols-outlined.md-694 { font-size: 694px; }
.material-symbols-outlined.md-695 { font-size: 695px; }
.material-symbols-outlined.md-696 { font-size: 696px; }
.material-symbols-outlined.md-697 { font-size: 697px; }
.material-symbols-outlined.md-698 { font-size: 698px; }
.material-symbols-outlined.md-699 { font-size: 699px; }
.material-symbols-outlined.md-700 { font-size: 700px; }
.material-symbols-outlined.md-701 { font-size: 701px; }
.material-symbols-outlined.md-702 { font-size: 702px; }
.material-symbols-outlined.md-703 { font-size: 703px; }
.material-symbols-outlined.md-704 { font-size: 704px; }
.material-symbols-outlined.md-705 { font-size: 705px; }
.material-symbols-outlined.md-706 { font-size: 706px; }
.material-symbols-outlined.md-707 { font-size: 707px; }
.material-symbols-outlined.md-708 { font-size: 708px; }
.material-symbols-outlined.md-709 { font-size: 709px; }
.material-symbols-outlined.md-710 { font-size: 710px; }
.material-symbols-outlined.md-711 { font-size: 711px; }
.material-symbols-outlined.md-712 { font-size: 712px; }
.material-symbols-outlined.md-713 { font-size: 713px; }
.material-symbols-outlined.md-714 { font-size: 714px; }
.material-symbols-outlined.md-715 { font-size: 715px; }
.material-symbols-outlined.md-716 { font-size: 716px; }
.material-symbols-outlined.md-717 { font-size: 717px; }
.material-symbols-outlined.md-718 { font-size: 718px; }
.material-symbols-outlined.md-719 { font-size: 719px; }
.material-symbols-outlined.md-720 { font-size: 720px; }
.material-symbols-outlined.md-721 { font-size: 721px; }
.material-symbols-outlined.md-722 { font-size: 722px; }
.material-symbols-outlined.md-723 { font-size: 723px; }
.material-symbols-outlined.md-724 { font-size: 724px; }
.material-symbols-outlined.md-725 { font-size: 725px; }
.material-symbols-outlined.md-726 { font-size: 726px; }
.material-symbols-outlined.md-727 { font-size: 727px; }
.material-symbols-outlined.md-728 { font-size: 728px; }
.material-symbols-outlined.md-729 { font-size: 729px; }
.material-symbols-outlined.md-730 { font-size: 730px; }
.material-symbols-outlined.md-731 { font-size: 731px; }
.material-symbols-outlined.md-732 { font-size: 732px; }
.material-symbols-outlined.md-733 { font-size: 733px; }
.material-symbols-outlined.md-734 { font-size: 734px; }
.material-symbols-outlined.md-735 { font-size: 735px; }
.material-symbols-outlined.md-736 { font-size: 736px; }
.material-symbols-outlined.md-737 { font-size: 737px; }
.material-symbols-outlined.md-738 { font-size: 738px; }
.material-symbols-outlined.md-739 { font-size: 739px; }
.material-symbols-outlined.md-740 { font-size: 740px; }
.material-symbols-outlined.md-741 { font-size: 741px; }
.material-symbols-outlined.md-742 { font-size: 742px; }
.material-symbols-outlined.md-743 { font-size: 743px; }
.material-symbols-outlined.md-744 { font-size: 744px; }
.material-symbols-outlined.md-745 { font-size: 745px; }
.material-symbols-outlined.md-746 { font-size: 746px; }
.material-symbols-outlined.md-747 { font-size: 747px; }
.material-symbols-outlined.md-748 { font-size: 748px; }
.material-symbols-outlined.md-749 { font-size: 749px; }
.material-symbols-outlined.md-750 { font-size: 750px; }
.material-symbols-outlined.md-751 { font-size: 751px; }
.material-symbols-outlined.md-752 { font-size: 752px; }
.material-symbols-outlined.md-753 { font-size: 753px; }
.material-symbols-outlined.md-754 { font-size: 754px; }
.material-symbols-outlined.md-755 { font-size: 755px; }
.material-symbols-outlined.md-756 { font-size: 756px; }
.material-symbols-outlined.md-757 { font-size: 757px; }
.material-symbols-outlined.md-758 { font-size: 758px; }
.material-symbols-outlined.md-759 { font-size: 759px; }
.material-symbols-outlined.md-760 { font-size: 760px; }
.material-symbols-outlined.md-761 { font-size: 761px; }
.material-symbols-outlined.md-762 { font-size: 762px; }
.material-symbols-outlined.md-763 { font-size: 763px; }
.material-symbols-outlined.md-764 { font-size: 764px; }
.material-symbols-outlined.md-765 { font-size: 765px; }
.material-symbols-outlined.md-766 { font-size: 766px; }
.material-symbols-outlined.md-767 { font-size: 767px; }
.material-symbols-outlined.md-768 { font-size: 768px; }
.material-symbols-outlined.md-769 { font-size: 769px; }
.material-symbols-outlined.md-770 { font-size: 770px; }
.material-symbols-outlined.md-771 { font-size: 771px; }
.material-symbols-outlined.md-772 { font-size: 772px; }
.material-symbols-outlined.md-773 { font-size: 773px; }
.material-symbols-outlined.md-774 { font-size: 774px; }
.material-symbols-outlined.md-775 { font-size: 775px; }
.material-symbols-outlined.md-776 { font-size: 776px; }
.material-symbols-outlined.md-777 { font-size: 777px; }
.material-symbols-outlined.md-778 { font-size: 778px; }
.material-symbols-outlined.md-779 { font-size: 779px; }
.material-symbols-outlined.md-780 { font-size: 780px; }
.material-symbols-outlined.md-781 { font-size: 781px; }
.material-symbols-outlined.md-782 { font-size: 782px; }
.material-symbols-outlined.md-783 { font-size: 783px; }
.material-symbols-outlined.md-784 { font-size: 784px; }
.material-symbols-outlined.md-785 { font-size: 785px; }
.material-symbols-outlined.md-786 { font-size: 786px; }
.material-symbols-outlined.md-787 { font-size: 787px; }
.material-symbols-outlined.md-788 { font-size: 788px; }
.material-symbols-outlined.md-789 { font-size: 789px; }
.material-symbols-outlined.md-790 { font-size: 790px; }
.material-symbols-outlined.md-791 { font-size: 791px; }
.material-symbols-outlined.md-792 { font-size: 792px; }
.material-symbols-outlined.md-793 { font-size: 793px; }
.material-symbols-outlined.md-794 { font-size: 794px; }
.material-symbols-outlined.md-795 { font-size: 795px; }
.material-symbols-outlined.md-796 { font-size: 796px; }
.material-symbols-outlined.md-797 { font-size: 797px; }
.material-symbols-outlined.md-798 { font-size: 798px; }
.material-symbols-outlined.md-799 { font-size: 799px; }
.material-symbols-outlined.md-800 { font-size: 800px; }
.material-symbols-outlined.md-801 { font-size: 801px; }
.material-symbols-outlined.md-802 { font-size: 802px; }
.material-symbols-outlined.md-803 { font-size: 803px; }
.material-symbols-outlined.md-804 { font-size: 804px; }
.material-symbols-outlined.md-805 { font-size: 805px; }
.material-symbols-outlined.md-806 { font-size: 806px; }
.material-symbols-outlined.md-807 { font-size: 807px; }
.material-symbols-outlined.md-808 { font-size: 808px; }
.material-symbols-outlined.md-809 { font-size: 809px; }
.material-symbols-outlined.md-810 { font-size: 810px; }
.material-symbols-outlined.md-811 { font-size: 811px; }
.material-symbols-outlined.md-812 { font-size: 812px; }
.material-symbols-outlined.md-813 { font-size: 813px; }
.material-symbols-outlined.md-814 { font-size: 814px; }
.material-symbols-outlined.md-815 { font-size: 815px; }
.material-symbols-outlined.md-816 { font-size: 816px; }
.material-symbols-outlined.md-817 { font-size: 817px; }
.material-symbols-outlined.md-818 { font-size: 818px; }
.material-symbols-outlined.md-819 { font-size: 819px; }
.material-symbols-outlined.md-820 { font-size: 820px; }
.material-symbols-outlined.md-821 { font-size: 821px; }
.material-symbols-outlined.md-822 { font-size: 822px; }
.material-symbols-outlined.md-823 { font-size: 823px; }
.material-symbols-outlined.md-824 { font-size: 824px; }
.material-symbols-outlined.md-825 { font-size: 825px; }
.material-symbols-outlined.md-826 { font-size: 826px; }
.material-symbols-outlined.md-827 { font-size: 827px; }
.material-symbols-outlined.md-828 { font-size: 828px; }
.material-symbols-outlined.md-829 { font-size: 829px; }
.material-symbols-outlined.md-830 { font-size: 830px; }
.material-symbols-outlined.md-831 { font-size: 831px; }
.material-symbols-outlined.md-832 { font-size: 832px; }
.material-symbols-outlined.md-833 { font-size: 833px; }
.material-symbols-outlined.md-834 { font-size: 834px; }
.material-symbols-outlined.md-835 { font-size: 835px; }
.material-symbols-outlined.md-836 { font-size: 836px; }
.material-symbols-outlined.md-837 { font-size: 837px; }
.material-symbols-outlined.md-838 { font-size: 838px; }
.material-symbols-outlined.md-839 { font-size: 839px; }
.material-symbols-outlined.md-840 { font-size: 840px; }
.material-symbols-outlined.md-841 { font-size: 841px; }
.material-symbols-outlined.md-842 { font-size: 842px; }
.material-symbols-outlined.md-843 { font-size: 843px; }
.material-symbols-outlined.md-844 { font-size: 844px; }
.material-symbols-outlined.md-845 { font-size: 845px; }
.material-symbols-outlined.md-846 { font-size: 846px; }
.material-symbols-outlined.md-847 { font-size: 847px; }
.material-symbols-outlined.md-848 { font-size: 848px; }
.material-symbols-outlined.md-849 { font-size: 849px; }
.material-symbols-outlined.md-850 { font-size: 850px; }
.material-symbols-outlined.md-851 { font-size: 851px; }
.material-symbols-outlined.md-852 { font-size: 852px; }
.material-symbols-outlined.md-853 { font-size: 853px; }
.material-symbols-outlined.md-854 { font-size: 854px; }
.material-symbols-outlined.md-855 { font-size: 855px; }
.material-symbols-outlined.md-856 { font-size: 856px; }
.material-symbols-outlined.md-857 { font-size: 857px; }
.material-symbols-outlined.md-858 { font-size: 858px; }
.material-symbols-outlined.md-859 { font-size: 859px; }
.material-symbols-outlined.md-860 { font-size: 860px; }
.material-symbols-outlined.md-861 { font-size: 861px; }
.material-symbols-outlined.md-862 { font-size: 862px; }
.material-symbols-outlined.md-863 { font-size: 863px; }
.material-symbols-outlined.md-864 { font-size: 864px; }
.material-symbols-outlined.md-865 { font-size: 865px; }
.material-symbols-outlined.md-866 { font-size: 866px; }
.material-symbols-outlined.md-867 { font-size: 867px; }
.material-symbols-outlined.md-868 { font-size: 868px; }
.material-symbols-outlined.md-869 { font-size: 869px; }
.material-symbols-outlined.md-870 { font-size: 870px; }
.material-symbols-outlined.md-871 { font-size: 871px; }
.material-symbols-outlined.md-872 { font-size: 872px; }
.material-symbols-outlined.md-873 { font-size: 873px; }
.material-symbols-outlined.md-874 { font-size: 874px; }
.material-symbols-outlined.md-875 { font-size: 875px; }
.material-symbols-outlined.md-876 { font-size: 876px; }
.material-symbols-outlined.md-877 { font-size: 877px; }
.material-symbols-outlined.md-878 { font-size: 878px; }
.material-symbols-outlined.md-879 { font-size: 879px; }
.material-symbols-outlined.md-880 { font-size: 880px; }
.material-symbols-outlined.md-881 { font-size: 881px; }
.material-symbols-outlined.md-882 { font-size: 882px; }
.material-symbols-outlined.md-883 { font-size: 883px; }
.material-symbols-outlined.md-884 { font-size: 884px; }
.material-symbols-outlined.md-885 { font-size: 885px; }
.material-symbols-outlined.md-886 { font-size: 886px; }
.material-symbols-outlined.md-887 { font-size: 887px; }
.material-symbols-outlined.md-888 { font-size: 888px; }
.material-symbols-outlined.md-889 { font-size: 889px; }
.material-symbols-outlined.md-890 { font-size: 890px; }
.material-symbols-outlined.md-891 { font-size: 891px; }
.material-symbols-outlined.md-892 { font-size: 892px; }
.material-symbols-outlined.md-893 { font-size: 893px; }
.material-symbols-outlined.md-894 { font-size: 894px; }
.material-symbols-outlined.md-895 { font-size: 895px; }
.material-symbols-outlined.md-896 { font-size: 896px; }
.material-symbols-outlined.md-897 { font-size: 897px; }
.material-symbols-outlined.md-898 { font-size: 898px; }
.material-symbols-outlined.md-899 { font-size: 899px; }
.material-symbols-outlined.md-900 { font-size: 900px; }
.material-symbols-outlined.md-901 { font-size: 901px; }
.material-symbols-outlined.md-902 { font-size: 902px; }
.material-symbols-outlined.md-903 { font-size: 903px; }
.material-symbols-outlined.md-904 { font-size: 904px; }
.material-symbols-outlined.md-905 { font-size: 905px; }
.material-symbols-outlined.md-906 { font-size: 906px; }
.material-symbols-outlined.md-907 { font-size: 907px; }
.material-symbols-outlined.md-908 { font-size: 908px; }
.material-symbols-outlined.md-909 { font-size: 909px; }
.material-symbols-outlined.md-910 { font-size: 910px; }
.material-symbols-outlined.md-911 { font-size: 911px; }
.material-symbols-outlined.md-912 { font-size: 912px; }
.material-symbols-outlined.md-913 { font-size: 913px; }
.material-symbols-outlined.md-914 { font-size: 914px; }
.material-symbols-outlined.md-915 { font-size: 915px; }
.material-symbols-outlined.md-916 { font-size: 916px; }
.material-symbols-outlined.md-917 { font-size: 917px; }
.material-symbols-outlined.md-918 { font-size: 918px; }
.material-symbols-outlined.md-919 { font-size: 919px; }
.material-symbols-outlined.md-920 { font-size: 920px; }
.material-symbols-outlined.md-921 { font-size: 921px; }
.material-symbols-outlined.md-922 { font-size: 922px; }
.material-symbols-outlined.md-923 { font-size: 923px; }
.material-symbols-outlined.md-924 { font-size: 924px; }
.material-symbols-outlined.md-925 { font-size: 925px; }
.material-symbols-outlined.md-926 { font-size: 926px; }
.material-symbols-outlined.md-927 { font-size: 927px; }
.material-symbols-outlined.md-928 { font-size: 928px; }
.material-symbols-outlined.md-929 { font-size: 929px; }
.material-symbols-outlined.md-930 { font-size: 930px; }
.material-symbols-outlined.md-931 { font-size: 931px; }
.material-symbols-outlined.md-932 { font-size: 932px; }
.material-symbols-outlined.md-933 { font-size: 933px; }
.material-symbols-outlined.md-934 { font-size: 934px; }
.material-symbols-outlined.md-935 { font-size: 935px; }
.material-symbols-outlined.md-936 { font-size: 936px; }
.material-symbols-outlined.md-937 { font-size: 937px; }
.material-symbols-outlined.md-938 { font-size: 938px; }
.material-symbols-outlined.md-939 { font-size: 939px; }
.material-symbols-outlined.md-940 { font-size: 940px; }
.material-symbols-outlined.md-941 { font-size: 941px; }
.material-symbols-outlined.md-942 { font-size: 942px; }
.material-symbols-outlined.md-943 { font-size: 943px; }
.material-symbols-outlined.md-944 { font-size: 944px; }
.material-symbols-outlined.md-945 { font-size: 945px; }
.material-symbols-outlined.md-946 { font-size: 946px; }
.material-symbols-outlined.md-947 { font-size: 947px; }
.material-symbols-outlined.md-948 { font-size: 948px; }
.material-symbols-outlined.md-949 { font-size: 949px; }
.material-symbols-outlined.md-950 { font-size: 950px; }
.material-symbols-outlined.md-951 { font-size: 951px; }
.material-symbols-outlined.md-952 { font-size: 952px; }
.material-symbols-outlined.md-953 { font-size: 953px; }
.material-symbols-outlined.md-954 { font-size: 954px; }
.material-symbols-outlined.md-955 { font-size: 955px; }
.material-symbols-outlined.md-956 { font-size: 956px; }
.material-symbols-outlined.md-957 { font-size: 957px; }
.material-symbols-outlined.md-958 { font-size: 958px; }
.material-symbols-outlined.md-959 { font-size: 959px; }
.material-symbols-outlined.md-960 { font-size: 960px; }
.material-symbols-outlined.md-961 { font-size: 961px; }
.material-symbols-outlined.md-962 { font-size: 962px; }
.material-symbols-outlined.md-963 { font-size: 963px; }
.material-symbols-outlined.md-964 { font-size: 964px; }
.material-symbols-outlined.md-965 { font-size: 965px; }
.material-symbols-outlined.md-966 { font-size: 966px; }
.material-symbols-outlined.md-967 { font-size: 967px; }
.material-symbols-outlined.md-968 { font-size: 968px; }
.material-symbols-outlined.md-969 { font-size: 969px; }
.material-symbols-outlined.md-970 { font-size: 970px; }
.material-symbols-outlined.md-971 { font-size: 971px; }
.material-symbols-outlined.md-972 { font-size: 972px; }
.material-symbols-outlined.md-973 { font-size: 973px; }
.material-symbols-outlined.md-974 { font-size: 974px; }
.material-symbols-outlined.md-975 { font-size: 975px; }
.material-symbols-outlined.md-976 { font-size: 976px; }
.material-symbols-outlined.md-977 { font-size: 977px; }
.material-symbols-outlined.md-978 { font-size: 978px; }
.material-symbols-outlined.md-979 { font-size: 979px; }
.material-symbols-outlined.md-980 { font-size: 980px; }
.material-symbols-outlined.md-981 { font-size: 981px; }
.material-symbols-outlined.md-982 { font-size: 982px; }
.material-symbols-outlined.md-983 { font-size: 983px; }
.material-symbols-outlined.md-984 { font-size: 984px; }
.material-symbols-outlined.md-985 { font-size: 985px; }
.material-symbols-outlined.md-986 { font-size: 986px; }
.material-symbols-outlined.md-987 { font-size: 987px; }
.material-symbols-outlined.md-988 { font-size: 988px; }
.material-symbols-outlined.md-989 { font-size: 989px; }
.material-symbols-outlined.md-990 { font-size: 990px; }
.material-symbols-outlined.md-991 { font-size: 991px; }
.material-symbols-outlined.md-992 { font-size: 992px; }
.material-symbols-outlined.md-993 { font-size: 993px; }
.material-symbols-outlined.md-994 { font-size: 994px; }
.material-symbols-outlined.md-995 { font-size: 995px; }
.material-symbols-outlined.md-996 { font-size: 996px; }
.material-symbols-outlined.md-997 { font-size: 997px; }
.material-symbols-outlined.md-998 { font-size: 998px; }
.material-symbols-outlined.md-999 { font-size: 999px; }
.material-symbols-outlined.md-1000 { font-size: 1000px; }
